@font-face{
    font-family: "Montauk-Light";
    src: url(../Fonts/Montauk-Light.otf);
}

.container{
    max-width: 1640px;
}

.nav-link{
    color: #5F002B !important;
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    opacity: 100%;
}

.brownBG{
    background-color: #F2E9D9;
    background-image: url(../images/bgtexture.jpg);
}

.cateringHeader{
    background-color: #FFFFFF;
    margin-bottom: 86px;
}
.photosHeader{
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.photosWhiteBG{
    background-color: #FFFFFF;
}

/* .photosPadding{
    margin-right: 24px;
} */

.imgborder{
    border: 10px solid white;
}

.noLeftPadding{
    padding-left: 0px;
}
.noRightPadding{
    padding-right: 0px;
}

.Fugaz50{
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 50px;
}

.Fugaz30{
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 30px;
}

.Montauk20{
    font-family: "Montauk-Light";
    color: #5F002B;
    font-size: 20px;
    line-height: 0.95;
}


.heroBottom{
    margin-bottom: 90px;
}

.aboutCatering{
    background-color: #FFFFFF;
}

.aboutCateringBottom{
    margin-bottom: 100px;
}

.cateringImagesBotoom{
    margin-bottom: 55px;
}

.footerMargin{
    margin-top: 56px;
}
