@font-face {
    font-family: "Montauk-Light";
    src: url("../fonts/Montauk-Light.otf");
}
.bgColor{
    background-color: #F2E9D9;
    background-image: url("../images/bgtexture.jpg");
}
.bgWhite{
    background-color: white;
}
.Fugaz50{
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 50px;
}
.Fugaz30{
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 30px;
}
.Fugaz20{
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
}
.nav-link{
    color: #5F002B !important;
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    opacity: 100%;
}
.lineColor{
    color: #5F002B;
}
.menu-Title{
    margin-bottom: -.2rem;
}
.card-title-margin{
    margin-bottom: -.3rem;
}
.card-title-margin-bottom{
    margin-bottom: 2rem;
}

.Montauk20{
    font-size: 20px;
    font-family: "Montauk-Light";
    color: #5F002B;
}
.Montauk35{
    font-size: 35px;
    color: #5F002B;
    font-family: "Montauk-Light";
}
